<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.bishebang.studentstatusmanage">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".menuActivity.Activity_6_Add"></activity>
        <activity android:name=".menuActivity.Activity_5_Add" />
        <activity android:name=".menuActivity.Activity_4_Add" />
        <activity android:name=".menuActivity.Activity_3_Add" />
        <activity android:name=".menuActivity.Activity_2_Add" />
        <activity android:name=".menuActivity.Activity_1_Add" />
        <activity android:name=".menuActivity.Activity_6" />
        <activity android:name=".menuActivity.Activity_5" />
        <activity android:name=".menuActivity.Activity_4" />
        <activity android:name=".menuActivity.Activity_3" />
        <activity android:name=".menuActivity.Activity_2" />
        <activity android:name=".menuActivity.Activity_1" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>